## Connect to Chicago Data Portal API - Business Licenses Data

In [1]:
#Import dependencies
import pandas as pd
import requests
import json

# Google developer API key
from config2 import API_chi_key

In [2]:
# Build API URL
# API calls = 8000 (based on zipcode and issued search results)
# Filters: 'application type' Issued
target_URL = f"https://data.cityofchicago.org/resource/xqx5-8hwx.json?$$app_token={API_chi_key}&$limit=8000&application_type=ISSUE&zip_code="

In [3]:
# Create list of zipcodes we are examining based
# on three different businesses of interest
zipcodes = ["60610","60607","60606","60661",
            "60614","60622","60647","60654"]

In [4]:
# Create a request to get json data on business licences
responses = []
for zipcode in zipcodes:
    license_response = requests.get(target_URL + zipcode).json()
    responses.append(license_response)

In [5]:
len(responses)

8

In [6]:
# Create sepearte variables for the 8 responses for zipcodes
# Data loaded in nested gropus based on zipcodes, so
# needed to make them separate
zip_60610 = responses[0]
zip_60607 = responses[1]
zip_60606 = responses[2]
zip_60661 = responses[3]
zip_60614 = responses[4]
zip_60622 = responses[5]
zip_60647 = responses[6]
zip_60654 = responses[7]

In [7]:
# Read zipcode_responses_busi.json files into pd DF
zip_60610_data = pd.DataFrame(zip_60610)

In [8]:
# Create list of the json object variables
# excluding zip_60610 bc that will start as a DF
zip_data = [zip_60607, zip_60606, zip_60661, zip_60614,
           zip_60622, zip_60647, zip_60654]

In [9]:
# Create a new DF to save compiled business data into
all_7_zipcodes = zip_60610_data

In [10]:
# Append json objects to all_7_zipcode DF
# Print length of all_7_zipcode to check adding correctly
for zipcodes_df in zip_data:
    all_7_zipcodes = all_7_zipcodes.append(zipcodes_df)

C:\Users\oimar\Miniconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [11]:
len(all_7_zipcodes)

37679

In [12]:
# Get list of headers of all_7_zipcodes
list(all_7_zipcodes)

['account_number',
 'address',
 'application_created_date',
 'application_requirements_complete',
 'application_type',
 'business_activity',
 'business_activity_id',
 'city',
 'conditional_approval',
 'date_issued',
 'doing_business_as_name',
 'expiration_date',
 'id',
 'latitude',
 'legal_name',
 'license_approved_for_issuance',
 'license_code',
 'license_description',
 'license_id',
 'license_number',
 'license_start_date',
 'license_status',
 'license_status_change_date',
 'location',
 'longitude',
 'payment_date',
 'police_district',
 'precinct',
 'site_number',
 'ssa',
 'state',
 'ward',
 'ward_precinct',
 'zip_code']

In [13]:
# Select certain columns to show 
core_info_busi_licences = all_7_zipcodes[['legal_name', 'doing_business_as_name',
                                        'zip_code', 'license_description', 
                                        'business_activity', 'application_type', 
                                        'license_start_date', 'latitude', 'longitude']]

In [14]:
# Get an idea of the number of null values in each column
core_info_busi_licences.isna().sum()

legal_name                    0
doing_business_as_name        0
zip_code                      0
license_description           0
business_activity         15953
application_type              0
license_start_date          519
latitude                    622
longitude                   622
dtype: int64

In [15]:
# Add sepearate column for just the start year
# Will use later when selecting year businesess were created
core_info_busi_licences['start_year'] = core_info_busi_licences['license_start_date']

C:\Users\oimar\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
# Edit 'start_year' to just include year from date information
core_info_busi_licences['start_year'] = core_info_busi_licences['start_year'].str[0:4]

C:\Users\oimar\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
# Explore what kinds of businesses are missing "latitude" and "longitude"
# Also, the 'business_activity' licenses have null values (limited Business Licences?)
core_info_busi_licences[core_info_busi_licences.isnull().any(axis=1)]

,legal_name,doing_business_as_name,zip_code,license_description,business_activity,application_type,license_start_date,latitude,longitude,start_year
16,"HEAVENLY DAY SPA ON DIVISION, INC.",HM DAY SPA,60610,Limited Business License,NaN,ISSUE,2009-12-10T00:00:00.000,NaN,NaN,2009
17,YOUNG MEN'S CHRISTIAN ASSOCIATION OF CHICAGO,YOUNG MEN'S CHRISTIAN ASSOCIATION OF CHICAGO,60610,Limited Business License,NaN,ISSUE,2006-04-06T00:00:00.000,NaN,NaN,2006
18,"ALLYU 600 WEST, INC.",ALLYU SPA,60610,Limited Business License,NaN,ISSUE,2007-08-23T00:00:00.000,NaN,NaN,2007
19,"4301 N Sheridan, LLC","4301 N Sheridan, LLC",60610,Residential Real Estate Developer,NaN,ISSUE,2004-08-20T00:00:00.000,NaN,NaN,2004
20,"MARWEN FOUNDATION, INC.",MARWEN,60610,Children's Activities Facilities,NaN,ISSUE,2012-04-06T00:00:00.000,NaN,NaN,2012
21,"FLIGHT 001, INC.","FLIGHT 001, INC",60610,Limited Business License,NaN,ISSUE,2008-05-22T00:00:00.000,NaN,NaN,2008
22,christine noelle design inc,Christine Noelle Design,60610,Limited Business License,Retail Sales of General Merchandise,ISSUE,2013-07-22T00:00:00.000,NaN,NaN,2013
25,"ARETE & ASSOCIATES, LLC",FLORSHEIM MANSION,60610,Regulated Business License,"Bed and Breakfast Establishment, Owner-Occupie...",ISSUE,2014-05-02T00:00:00.000,NaN,NaN,2014
26,"DOWNTOWN ENTERTAINMENT, LLC",HQ BEERCADE II,60610,Retail Food Establishment,Retail Sales of Perishable Foods,ISSUE,2005-03-16T00:00:00.000,NaN,NaN,2005
28,TRATTORIA PIZZERIA ROMA INC.,WOODIE'S FLAT,60610,Outdoor Patio,Sale of Liquor Outdoors on Private Property,ISSUE,2015-03-26T00:00:00.000,NaN,NaN,2015
29,"DOWNTOWN ENTERTAINMENT, LLC",HQ BEERCADE II,60610,Caterer's Liquor License,Catering of Liquor To Events,ISSUE,2015-06-10T00:00:00.000,NaN,NaN,2015
30,"DOWNTOWN ENTERTAINMENT, LLC",HQ BEERCADE II,60610,Public Place of Amusement,Provides Onsite Amusement or Entertainment,ISSUE,2005-07-22T00:00:00.000,NaN,NaN,2005
31,KCL FITNESS L.L.C.,WELLS STREET CROSSFIT,60610,Regulated Business License,Fitness Classes,ISSUE,2014-11-20T00:00:00.000,NaN,NaN,2014
32,"DOWNTOWN ENTERTAINMENT, LLC",HQ BEERCADE II,60610,Tavern,Tavern - Consumption of Liquor on Premise,ISSUE,2005-07-22T00:00:00.000,NaN,NaN,2005
33,THE SONO CHICAGO LLC,THE SONO CHICAGO LLC,60610,Regulated Business License,"Bed and Breakfast Establishment, Owner-Occupie...",ISSUE,2016-04-21T00:00:00.000,NaN,NaN,2016
34,ELIZABETH GREGORY SERRITELLA,OLD TOWN CHICAGO BED & BREAKFAST,60610,Regulated Business License,"Bed and Breakfast Establishment, Owner-Occupie...",ISSUE,2012-12-29T00:00:00.000,NaN,NaN,2012
35,"CENTRAL PARKING SYSTEM, INC.",CPS PARKING,60610,Accessory Garage,Provide Parking Spaces For a Fee - to Resident...,ISSUE,2011-02-24T00:00:00.000,NaN,NaN,2011
36,"HEAVENLY DAY SPA ON DIVISION, INC.",HM DAY SPA,60610,Massage Establishment,Massage Establishment,ISSUE,2009-12-22T00:00:00.000,NaN,NaN,2009
37,YOUNG MEN'S CHRISTIAN ASSOCIATION OF CHICAGO,YOUNG MEN'S CHRISTIAN ASSOCIATION OF CHICAGO,60610,Raffles,Not-For-Profit Selling Raffles for Prizes of $...,ISSUE,2003-03-12T00:00:00.000,NaN,NaN,2003
38,"MARWEN FOUNDATION, INC.",MARWEN,60610,Children's Services Facility License,Children's Activities Facilities,ISSUE,2012-12-29T00:00:00.000,NaN,NaN,2012
39,WASHINGTON SQUARE LIQUORS INC,BOSS BAR,60610,Public Place of Amusement,Provides Onsite Amusement or Entertainment,ISSUE,2011-04-07T00:00:00.000,NaN,NaN,2011
40,SALLY J. BAKER,GOLD COAST GUEST HOUSE B & B,60610,Regulated Business License,"Bed and Breakfast Establishment, Owner-Occupie...",ISSUE,2012-12-29T00:00:00.000,NaN,NaN,2012
41,"ALLYU 600 WEST, INC.",ALLYU SPA,60610,Massage Establishment,Massage Establishment,ISSUE,2007-11-02T00:00:00.000,NaN,NaN,2007
42,TRATTORIA PIZZERIA ROMA INC.,WOODIE'S FLAT,60610,Public Place of Amusement,"Public Place of Amusement, Provides Entertainm...",ISSUE,2015-03-26T00:00:00.000,NaN,NaN,2015
83,JULIE EIDE,JULIE EIDE,60610,Pharmaceutical Representative,Markets / Promotes Pharmaceuticals to Health C...,ISSUE,2017-08-11T00:00:00.000,NaN,NaN,2017
84,KIMBERLY D'ANNA,KIMBERLY D'ANNA,60610,Pharmaceutical Representative,Markets / Promotes Pharmaceuticals to Health C...,ISSUE,2017-08-11T00:00:00.000,NaN,NaN,2017
91,NICOLE RAUFER,NICOLE RAUFER,60610,Pharmaceutical Representative,Markets / Promotes Pharmaceuticals to Health C...,ISSUE,2017-08-14T00:00:00.000,NaN,NaN,2017
98,LANA MERIDEN,LANA MERIDEN,60610,Pharmaceutical Representative,Markets / Promotes Pharmaceuticals to Health C...,ISSUE,2017-08-25T00:00:00.000,NaN,NaN,2017
99,KATHERINE MAHON,KATHERINE MAHON,60610,Pharmaceutical Representative,Markets / Promotes Pharmaceuticals to Health C...,ISSUE,2017-08-29T00:00:00.000,NaN,NaN,2017
100,ELIZABETH ROYSTON,ELIZABETH ROYSTON,60610,Pharmaceutical Representative,Markets / Promotes Pharmaceuticals to Health C...,ISSUE,2017-08-30T00:00:00.000,NaN,NaN,2017
...,...,...,...,...,...,...,...,...,...,...
3479,NO LIMIT AGENCY LLC,"NO LIMIT MEDIA CONSULTING, LLC",60654,Limited Business License,NaN,ISSUE,2012-05-03T00:00:00.000,41.895622836,-87.635824997,2012
3480,"DAILY PLANET PRODUCTIONS, LTD.","DAILY PLANET PRODUCTIONS, LTD.",60654,Limited Business License,NaN,ISSUE,2010-08-24T00:00:00.000,41.895532419,-87.635825826,2010
3482,"COMCAST SPORTSNET CHICAGO, LLC","COMCAST SPORTSNET CHICAGO, LLC",60654,Limited Business License,NaN,ISSUE,2004-11-19T00:00:00.000,41.888741038,-87.637080541,2004
3484,LUNA TEXTILES,LUNA TEXTILES,60654,Limited Business License,NaN,ISSUE,2003-03-25T00:00:00.000,41.888074281,-87.634955203,2003
3486,Silk Road Technology Inc,SilkRoad Technology Inc,60654,Limited Business License,NaN,ISSUE,2010-11-08T00:00:00.000,41.889352033,-87.62884885,2010
3488,TS STAFFING CORP.,TRI - STATE STAFFING,60654,Limited Business License,NaN,ISSUE,2009-05-27T00:00:00.000,41.896534314,-87.646163439,2009
3489,"BLOSSOM BUCKET, INC.","BLOSSOM BUCKET, INC.",60654,Limited Business License,NaN,ISSUE,2009-07-14T00:00:00.000,41.888074281,-87.634955203,2009
3499,"YOGA FUZION, LLC","YOGA FUZION, LLC",60654,Limited Business License,NaN,ISSUE,2012-07-24T00:00:00.000,41.890124973,-87.631509262,2012
3500,Studio KL LLC,Studio KL LLC,60654,Limited Business License,NaN,ISSUE,2012-10-16T00:00:00.000,41.890486055,-87.637148739,2012
3504,URBAN MENSWEAR LLC,ROCAWEAR,60654,Limited Business License,NaN,ISSUE,2003-05-07T00:00:00.000,41.888741038,-87.637080541,2003
3506,IVYSTONE GROUP INC.,IVYSTONE GROUP,60654,Limited Business License,NaN,ISSUE,2008-05-12T00:00:00.000,41.888074281,-87.634955203,2008
3509,HEHMEYER LLC,"HTG CAPITAL PARTNERS, LLC",60654,Limited Business License,NaN,ISSUE,2008-08-08T00:00:00.000,41.896585191,-87.642996182,2008
3512,"SUB-ZERO GROUP MIDWEST, LLC",SUB-ZERO WOLF SHOWROOM,60654,Limited Business License,NaN,ISSUE,2010-11-10T00:00:00.000,41.888074281,-87.634955203,2010
3517,MILSON & LOUIS INC,NOYMER LEATHER AND GIFT,60654,Limited Business License,NaN,ISSUE,2003-05-08T00:00:00.000,41.888074281,-87.634955203,2003
3519,RIVER WEST BRANDS LLC,River West Brands LLC,60654,Limited Business License,NaN,ISSUE,2014-08-25T00:00:00.000,41.88752864,-87.632646837,2014
3521,"Farrow & Ball, Inc.","Farrow & Ball, Inc.",60654,Limited Business License,NaN,ISSUE,2008-02-06T00:00:00.000,41.888074281,-87.634955203,2008
3522,"EDELMAN LEATHER, LLC","EDELMAN LEATHER, LLC",60654,Limited Business License,NaN,ISSUE,2009-04-20T00:00:00.000,41.888074281,-87.634955203,2009
3523,TLD chicago LLC,Real Ryder Revolution,60654,Limited Business License,NaN,ISSUE,2011-12-05T00:00:00.000,41.890124973,-87.631509262,2011
3527,PANGAEA INFORMATION TECHNOLOGIES LTD,PANGAEA INFORMATION TECH,60654,Limited Business License,NaN,ISSUE,2006-05-05T00:00:00.000,41.896473425,-87.635030123,2006
3528,"E. A. Barin Flowers, Inc.",BLOOMS AT THE MART,60654,Limited Business License,NaN,ISSUE,2008-02-08T00:00:00.000,41.888074281,-87.634955203,2008
3534,"JANUS ET CIE OF ILLINOIS, INC.","JANUS ET CIE OF ILLINOIS, INC.",60654,Limited Business License,NaN,ISSUE,2008-07-30T00:00:00.000,41.888074281,-87.634955203,2008
3540,"THREE FRIENDS STUDIO, LTD.","THREE FRIENDS STUDIO, LTD.",60654,Limited Business License,NaN,ISSUE,2008-04-07T00:00:00.000,41.888074281,-87.634955203,2008
3541,"STEPHEN W. MIRKIN & ASSOCIATES, INC.","STEPHEN W. MIRKIN & ASSOCIATES, INC.",60654,Limited Business License,NaN,ISSUE,2008-02-21T00:00:00.000,41.888741038,-87.637080541,2008
3542,WINWARD INTERNATIONAL,WINWARD INTERNATIONAL,60654,Limited Business License,NaN,ISSUE,2003-03-31T00:00:00.000,41.888074281,-87.634955203,2003
3544,REMITSTREAM SOLUTIONS,REMITSTREAM SOLUTIONS.,60654,Limited Business License,NaN,ISSUE,2003-04-25T00:00:00.000,41.888741038,-87.637080541,2003
3545,CALIFORNIA FLORAL IMPORTS INC.,CALIFORNIA FLORAL IMPORTS INC.,60654,Limited Business License,NaN,ISSUE,2003-04-24T00:00:00.000,41.888074281,-87.634955203,2003
3549,PEKING HANDICRAFT INC,PEKING HANDICRAFT INC,60654,Limited Business License,NaN,ISSUE,2004-05-18T00:00:00.000,41.888074281,-87.634955203,2004
3551,"APD ENTERPRISES, INC.",SNAP FITNESS,60654,Limited Business License,NaN,ISSUE,2011-04-06T00:00:00.000,41.894502778,-87.631343259,2011
3552,D. W. SPECIALTIES INC.,D. W. SPECIALTIES INC.,60654,Limited Business License,NaN,ISSUE,2006-10-26T00:00:00.000,41.888074281,-87.634955203,2006
3553,THOMPSON'S CANDLE CO.,THOMPSON'S CANDLE CO.,60654,Limited Business License,NaN,ISSUE,2008-04-21T00:00:00.000,41.888074281,-87.634955203,2008

In [18]:
# Get rid of NaN values in 'latitude' and 'license_start_date'
core_info_busi_licences.dropna(subset=['latitude'], inplace=True)
core_info_busi_licences.dropna(subset=['license_start_date'], inplace=True)

C:\Users\oimar\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\oimar\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
core_info_busi_licences['application_type'].unique()

array(['ISSUE'], dtype=object)

In [22]:
# Cast 'start_year' column as an integer
core_info_busi_licences['start_year'] = core_info_busi_licences['start_year'].astype('int64')

C:\Users\oimar\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
# Confirm that NaN values for 'latitude' and 'license_start_date' 
# were dropped
core_info_busi_licences.isna().sum()

legal_name                    0
doing_business_as_name        0
zip_code                      0
license_description           0
business_activity         15758
application_type              0
license_start_date            0
latitude                      0
longitude                     0
start_year                    0
dtype: int64

In [24]:
# Record number of businesses licenses pulled 
len(core_info_busi_licences)

36541

## Connect to sqlite database

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine
from config2 import mysql_password

In [ ]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [ ]:
# Create engine using the `demographics.sqlite` database file
# engine = create_engine("sqlite://", echo=False)

engine = create_engine(f'mysql://root:coolcat1015@localhost:3306/real_tech_db')

In [ ]:
# Copy 'core_info_busi_licenses' db to MySql database
core_info_busi_licences.to_sql('business_licenses', 
                               con=engine, 
                               if_exists='replace',
                               index_label=True)